{% extends 'content.html' %}

{% block body %}
    <!-- <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="publicationanalysis" style="padding-bottom: 0px;";">
        <div class="w-100">
            <h2 class="mb-0">
                <br/>
                <div style="text-align: center;">
                    <span style="font-family: 'Saira Extra Condensed'; color: #20425A; padding-bottom: 0px; padding-top: 0px;"> <b>Publication Analysis</b> </span>
                </div>
                <br/>
            </h2>
        </div>
    </section>
    
    <section id = "pub_dashboard">
        
    </section> -->
    <span>
        wewefwe
        <a href="https://www.flaticon.com/free-icons/play-button" title="play button icons">ewf </a>

    </span>
    <!-- <iframe src="/pub_dashboard" height=800 width="1120px" style="border-width: 0px; padding-left: 0px; padding-top: 0px;" ></iframe> -->

{% endblock %}